<title><%= @title %></title>
<h1> Accounts </h1>
<div class="topribbon">
<%= link_to raw("Add New Account"), new_users_account_path%>
</div>
<div class="accountsblock">
<% @accounts.each do |account| %>
	<%= render 'single_account', an_account: account, style: 0 %>
<% end %>
</div>
