// Place all the styles related to the accounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.accountname {
	text-align: left;
}

.interestrate {
	font-size: 2em;
}

.compounding {
	font-size: 2em;
}

.lastupdate {
	font-size: 2em;
}

.accounttype {
	font-size: 2em;
}

.balance {
	font-size: 2em;
}

.account {
	width: 100%;
}

.topribbon {
	font-size: 2em;
	text-align: center;
}

.backbutton a {
	font-size: 2em;
	padding: 1%
}

.calculationinfo {
	font-size: 2em;
	padding: 1%;
}

.calculationpara {
	font-size: 1.5em;
	padding: 1%;
}

.tvomupgrades {
	text-align: center;
	font-size: 2em;
	padding: 1%;
}

.tvomupgradeinfo {
	font-size: 2em;
	text-align: center;
	padding: 1%;
}

.tvomupgradewrapper {
	border-style: solid;
	border-width: 2px;
	display: block;
	width: 100%;
	border: auto;
}

.tvomresult {
	float: left;
	font-size: 2em;
	padding: 2%;
}

.tvomfinalresult {
	font-size: 2em;
	padding: 2%;
}

.accountcontrol {
	font-size: 1.4em;
	padding: 1%;
}