/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} */

/*layout style*/
@media screen and (min-width: 1024px) {

	h1 {
		color: #D439FF;
		text-align: center;
		font-size: 4em;
		font-weight: bold;
		padding: 2%;
	}

	h2 {
		color: #FF6945;
		text-align: center;
		font-size: 2.5em;
		padding: 2%;
		font-weight: 650;
	}
	.actionheader {
		font-size: 1.6em;
		margin: auto;
		width: 100%;
		display: inline-block;
	}
	.usergreeting {
		text-align: center;
		padding: 1%;
	}

	.logout{
		/* float: right; */
    display: inline-block;

		margin: 0 auto;
	}

	.newandlogin {
		float: right;
		display: inline-block;
	}

	.newandlogin p {
		padding: 1%;
	}

	.accountslink {
		text-align: center;
		font-size: 1.8em;
		padding: 2%;
	}

	.aboutbutton {
		padding: 1%;
		font-size: 1.5em;
		float: left;
	}

  .topribbon {
		font-size: 2em;
		text-align: center;
		padding: 1%;
	}
	.topribbon a {
    text-decoration: none;
		padding: 1%;
	}

  a:hover {
    background-color: #D976FC;
  }

  .container {
    display: grid;
    grid-template-columns: 30% 70%;

    .side-bar {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: 60% 40%;

      footer {
        position: fixed;
        bottom: 0;
        width: 50%;

        .welcomeabout {
          text-align: center;
          padding: 2%;

          p {
            padding: 2px;
            font-size: 1.5em;
          }
        }

        .versionupdate p {
          text-align: right;
        }

      }
    }
  }
}
