
h1 {
	color: red;
	text-align: center;
	font-size: 50em;
	padding: 2%;
}

.tvomchoices {
	text-align: center;
	padding: 1%;
	/*font-size: 50px;*/
}

.tvomcalculationheading h2 {
	padding: 2%;
}

.versionupdate {
	text-align: center;
}

.aboutlinks {
	padding: 1%;
	font-size: 1.5em;
	text-align: center;
}

.aboutheadline {
	text-align: center;
	font-size: 3em;
}

.aboutbody {
	font-size: 2em;
	padding: 1%;
	line-height: 30px;
}