<!DOCTYPE html>
<html>
<head>

	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
	<body>
		<h1>You have just created an account, <%= @user.first_name %></h1>
		<p>
			Your <%= @account.category %> currently has a balance of <%= @account.balance %> <br>
		</p>
		<p>
			Have a great day.
		</p>
	</body>
</html>