<h1 class="aboutheadline">not that anyone asked, but I decided to share some thoughts about this app here</h1>
<div class="aboutlinks">
	<a href="https://github.com/donrestarone/Fincal-lib">source code</a>
	<%= link_to 'Back to Home', root_path %>
</div>
	<h2>
		What was the motivation behind creating this app? 
	</h2>
<p class="aboutbody">
	The answer to this is twofold. First, I needed a small project I could work on when I rekindled my love for programming. At the time it seemed like good idea, since I was trying to save up money and be more financially responsible. The early command line version was terrible, with no classes being used and no data persistence. As i went along, I began to apply skills I learned at Bitmaker and implemented design principals that I was exposed to. Gradually, Fincal gained classes and methods, and was eventually moved on to Sinatra. After learning Rails, I decided it would be a good idea to put it on Rails since I desired to deploy it and implement some business logic that would derive its data from a PostgresDB. Note that till the Rails implementation, its mathematical functions were limited to the command line version. 
</p>
<p class="aboutbody">
		The second, and more opinionated reason is that I think people my age tend to be less concerned with long term consequences and more focused on short term contentments when it comes to being fiscally responsible. I believe that most of the personal financial planning (i.e figuring out if you can afford something, estimating how long you need to save so you can responsibly buy something extravagant etc) can be achieved with some basic math/accounting skills and a financial calculator. But there has to be an easier way, financial calculators tend to have a learning curve and present digital offerings are complicated, often distracting you from your current focus. 
</p>


	<h2>
		What is in store for the future? 
	</h2>
<p class="aboutbody">
	Hopefully, a better user interface that leads to a decent user experience. I'm planning on revamping the backend to be more of an API, so that the website front-end and mobile app (when I get around to learning Swift) can simply make requests to the server and have everything run smoothly. 
</p>

	<h2>
		Any goals for this app? 
	</h2>
<p class="aboutbody">
	Frankly I'd be ecstatic if even one person and/or a llama somewhere used Fincal to plan something related to their personal finances. 
</p>