<h2 class="welcomeheading">WELCOME.</h2>
<p class="welcometext">This is a personal financial planner/calculator app, you can use it to store database entries and perform interest, cashflow, investment calculations.</p>
	<h3 class="time"> The Time is: <%= @current_time %></h3>