<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="css-reset.css">
	<link rel="stylesheet" type="text/css" href="/main.css">
	<title><%= @title %></title>
</head>
<body>
	<div class="titleribbon">
		<h1>Personal Financial Calculator</h1>
	</div>
	<header>
		<div class="navigationwrapper">
			<nav class="navigationbar">
				<div class="ribbon1">
					<a href="/">Home</a>
				</div>
				<div class="ribbon2">
					<a href="/allaccounts">All Accounts</a>
				</div>
				<div class="ribbon3">
					<a href="/contactlist">Time Value Of Money</a>
				</div>
				<div class="ribbon4">
					<a href="/about">About</a>
				</div>
				<div class="ribbon5">
					<a href="/about">Cashflow Statement</a>
				</div>
			</nav>
		</div>
	</header>
	<main>
		<%= yield %>
	</main>

	<footer>
		<div class="ribbonfooter">
			<p>Shashike J 2018/April 9</p>
		</div>
	</footer>

</body>
</html>